body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f3fa;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 2rem;
    background-color: white;
    border-bottom: #042f54 2px solid;
  }

  nav a{
    margin:0 2rem;
    color:#042f54;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    background-color: white;
    border-top: #042f54 2px solid;
  }

  .home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 20px;
    color:#042f54;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    color: #638ecb;
  }

  .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 20px;
    color:#042f54;
    line-height: 2;
  }
